[submodule "Gyro"]
	path = src/main/java/frc/robot/subsystems/gyro
	url = https://github.com/Turbojax07/1086Gyro
	branch = main
[submodule "Drivetrain"]
	path = src/main/java/frc/robot/subsystems/drivetrain
	url = https://github.com/Turbojax07/1086Drivetrain
